@{
    ViewBag.Title = "Home Page";
}

<!-- slider_area-start -->
<div class="slider_area zigzag_bg_2">
    <div class="slider_sctive owl-carousel">
        <div class="single_slider slider_img_1">
            <div class="single_slider-iner">
                <div class="slider_contant text-center">
                    <h3>
                        Welcome to <br>
                        Pub.
                    </h3>
                    <p>
                        we list your menu online, help you process orders, pick them up<br />
                        - in a heartbeat!<br />
                        Interested? Let's start our today!
                    </p>
                    <button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Items")'">Order Some Food &raquo;</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- slider_area-end -->